[submodule "3rdparty/kqoauth"]
	path = 3rdparty/kqoauth
	url = git://gitorious.org/~mickeprag/kqoauth/mickeprags-kqoauth.git
[submodule "3rdparty/qjson"]
	path = 3rdparty/qjson
	url = https://github.com/flavio/qjson.git
