[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TelldusCenter Light
Exec=/opt/telldus-center-light/bin/telldus-center-light
Icon=tellduscenterlight
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
